GEMINI_API_KEY=AIzaSyDRwDznGRGA-l6AZzJOxHomN8tG2iYQQhg
SUPABASE_URL=https://mjahppblbpcrafqcuulq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qYWhwcGJsYnBjcmFmcWN1dWxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4NjMxMzYsImV4cCI6MjA5MzQzOTEzNn0.4XEADjhjcdxo7DR_uBUz7tD5Uj4F3uoE9IkG2kxF5wE
PORT=3001
CLIENT_URL=http://localhost:5173
